{% extends "::base.html.twig" %}
{% block body %}
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('index') }}">Acueil</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Les Formations</a></li>
        </ul>

        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon user"></i><span class="break"></span>Liste des Formations</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table>
                        <tr>
                            <td>Bénéficiaire:</td>
                            <td>{{ formation.Beneficiaire }}</td>
                        </tr>
                        <tr>
                            <td>Diplome:</td>
                            <td>{{ formation.Diplome }}</td>
                        </tr>
                        <tr>
                            <td>Montant Formation:</td>
                            <td>{{ formation.MontF }}</td>
                        </tr>
                        <tr>
                            <td>Lieu Formation:</td>
                            <td>{{ formation.LieuF }}</td>
                        </tr>
                        <tr>
                            <td>Date Début:</td>
                            <td>{{ formation.DateDebut }}</td>
                        </tr>
                        <tr>
                            <td>Date Fin:</td>
                            <td>{{ formation.DateFin }}</td>
                        </tr>
                        <tr>
                            <td>Spécialité:</td>
                            <td>{{ formation.Specialite }}</td>
                        </tr>
                    </table>
                </div>
            </div><!--/span-->

        </div><!--/row-->

    <!-- end: Content -->
    </div><!--/#content.span10-->
{% endblock %}