{% extends "::base.html.twig" %}

{% block body %}

    {#{ form(form) }#}
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('index') }}">Accueil</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="#">Modification</a>
            </li>
        </ul>


        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon edit"></i><span class="break"></span>Modification des Formation</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Bénéficiaire</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.Beneficiaire) }}
                                    {{ form_errors(form.Beneficiaire) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Diplome</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.diplome) }}
                                    {{ form_errors(form.diplome) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Montant
                                        Formation</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.montF) }}
                                    {{ form_errors(form.montF) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Lieu Formation</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.lieuF) }}
                                    {{ form_errors(form.lieuF) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Date Début</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.dateDebut) }}
                                    {{ form_errors(form.dateDebut) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Date Fin</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.dateFin) }}
                                    {{ form_errors(form.dateFin) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Spécialité</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.specialite) }}
                                    {{ form_errors(form.specialite) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" value="Ajouter">
                                <input class="btn btn-warning" type="reset" value="Annuler">
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div><!--/span-->

        </div><!--/row-->


    <!-- end: Content -->
    </div><!--/#content.span10-->


{% endblock %}