{% extends "::base.html.twig" %}


{% block body %}


    {#{ form(form) }#}
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('index') }}">Accueil</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="#">Bénéficiaires</a>
            </li>
        </ul>


        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon edit"></i><span class="break"></span>Saisie des Bénéficiaires</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form method="post" action="{{ path('beneficiaire_ajout') }}" class="form-horizontal">
                        {% for flash_message in app.session.flashBag.get('info') %}
                            <div class="alert alert-success">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        <fieldset>
                            <div class="control-group hidden">
                                <label class="control-label" for="inputSuccess"><strong>Numèro
                                        Matricule</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.numMlle) }}
                                    {{ form_errors(form.numMlle) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Nom</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.nom) }}<strong> *</strong>
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Prénom</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.prenom) }}<strong> *</strong>
                                    {{ form_errors(form.prenom) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Genre</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.sexe) }}<strong> *</strong>
                                    {{ form_errors(form.sexe) }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Date de
                                        naissance</strong></label>
                                <div class="controls">
                                    {{  form_widget(form.dateNais,{ 'attr': { 'class': 'form-control datepicker' }} ) }}
                                    <strong> *</strong>
                                    {{ form_errors(form.dateNais) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Adresse</strong></label>
                                <div class="controls input-xlarge">
                                    {{ form_widget(form.adresse) }}<strong> *</strong>
                                    {{ form_errors(form.adresse) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>téléphone</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.numTel) }}<strong> *</strong>
                                    {{ form_errors(form.numTel) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Email</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.email) }}<strong> *</strong>
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="control-group hidden">
                                <label class="control-label" for="inputSuccess"><strong>Annee d'enregistrement</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.anenr) }}<strong> *</strong>
                                    {{ form_errors(form.anenr) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Niveau</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.niveau) }}<strong> *</strong>
                                    {{ form_errors(form.niveau) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Statut</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.statut) }}<strong> *</strong>
                                    {{ form_errors(form.statut) }}
                                </div>
                            </div>
                            <!--<div class="control-group">
                                <label class="control-label" for="inputSuccess"><strong>Faculte</strong></label>
                                <div class="controls">
                                    {{ form_widget(form.faculte) }}<strong> *</strong>
                                    {{ form_errors(form.faculte) }}
                                </div>
                            </div>-->

                            <div class="control-group">
                                <label class="control-label" for="selectError">Faculté</label>
                                <div class="controls">
                                    <select id="pff_boursebundle_beneficiaire_faculte" name="pff_boursebundle_beneficiaire[faculte]" data-rel="chosen">
                                        {% for f in fac %}
                                            <option id="pff_boursebundle_beneficiaire_faculte" name="pff_boursebundle_beneficiaire[faculte]" value="{{ f.id }}">{{ f.codeFac }}</option>
                                        {% endfor %}
                                    </select>
                                    <strong> *</strong>
                                </div>
                            </div>


                            {{ form_rest(form) }}
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" value="Ajouter">
                                <input class="btn btn-warning" type="reset" value="Annuler">
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div><!--/span-->

        </div><!--/row-->


    </div><!--/.fluid-container-->


{% endblock %}
{% block js %}
    <!--  <script src="{{ asset('bundles/pffbourse/templates/js/bootstrap-datepicker.js') }}"></script>-->
    <script src="{{ asset('bundles/pffbourse/templates/js/bootstrap-datepicker.fr.js') }}"></script>

    <script>

        $(function() {
            $('.datepicker').datepicker({
                todayHighlight: true,
                startDate: '-2d',
                endDate: '+2d',
                language : 'fr',
                autoclose: true,
                format: 'dd/mm/yyyy'
            });


        });
    </script>

{% endblock %}