{% extends "::base.html.twig" %}


{% block body %}


    {#{ form(form) }#}
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('index') }}">Accueil</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="#">Université</a>
            </li>
        </ul>


        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon edit"></i><span class="break"></span> Saisie des Universités</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form method="post" class="form-horizontal">
                        <fieldset>

                            <div class="control-group">
                                <label class="control-label" for="focus">Code Université </label>
                                <div class="controls">
                                    {{ form_widget(form.codeUniv) }}
                                    {{ form_errors(form.codeUniv) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSuccess">Nom Université </label>
                                <div class="controls">
                                    {{ form_widget(form.nomUniv) }}
                                    {{ form_errors(form.nomUniv) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" value="Ajouter">
                                <input class="btn btn-warning" type="reset" value="Annuler">
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div><!--/span-->

        </div><!--/row-->


    <!-- end: Content -->
    </div><!--/#content.span10-->


{% endblock %}